
<h1>this is to get Available key</h1>

<%  if @api_key == nil %>
    <%= p "404 error" %>
<% else %>
    <p><%= p "Your api key is : " %><%= @api_key.api_key %> </p>
    <% @api_key.status = 'block' %>
    <% @api_key.save %>
<% end %>
